<!DOCTYPE html>
<html lang='pt-br'>

<head><link rel="stylesheet" href="pesqui.css" />
</head>

<body>
    <form>
        <div>   
          <label for="diaa">Informe a data do seu aniversário:</label>
          <input type="date" id="bday" name="diaa" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
          <span class="validity"></span>
        </div>
        <div>
            <form>
                Pesquisar: <input type="search" name="q">
            </form>
        </div>
        <div>
            <input type="hidden" id="inputOculto" name="inputOculto" value="meuvalor">
        </div<
        <div>
          <input type="submit">
        </div>
      </form>
</body>

</html>