<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Olá, prazer meu nome é Lucas. Eu criei esse site de Previsão do tempo
    </p>
    <p>
        Esse site veio de um Desafio aonde sua função principal era realizar a Previsão do Tempo de uma região que o usuário informa-se.
    <p>
        Site pode ser usado sem está logado ou possuir alguma conta nele, porém caso você queria ver o seu Histórico de pesquisas ou saber a temperatura da sua localização pesquisada.
    </p>
</div>
